<footer>
        <div class="container" id="contact">
            <h2>Contact Us</h2>

            <ul>
                <li>email@.com</li>
                <li>1-888-222-3333</li>
                <li>address</li>
            </ul>
            <p>© Employee Management System 2018</p>
        </div>

    </footer>