<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EMS</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Assistant:400,600" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        .jumbotron {
            background-color: #91d1ff;
            color: #343a40;
        }
        .jumbotron h1 {
            font-family: 'Archivo Black', sans-serif;
        }
        .jumbotron p {
            font-family: 'Assistant', sans-serif;
            font-weight: 600;
            font-size: 2em;
        }
        p {
            font-family: 'Assistant', sans-serif;
            font-weight: 400;
        }
        ul li {
            list-style: none;
        }
        #about {
            text-align: center;
            padding-bottom: 50px;
        }
        #employee-record {
            text-align: center;
            padding: 50px 0 50px 0;
        }
        .glyph-content {
            font-size: 100px;
            color: #e8af0c;
        }
        footer {
            background-color: #343a40;
            color: #fff;
            padding: 20px 0 20px 0;
            position: absolute;
            border: 0;
            width: 100%;
        }
      
    </style>

</head>
