<% include header %>
<% include navbar %>

<div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Employee Management System</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </div>

    <div id="about">
        <div class="container">
            <h2>About</h2>
            <div class="row">
                <div class="col-sm">
                    <div class="text-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi suscipit, libero non sagittis laoreet, urna enim gravida justo, id tincidunt purus urna eu justo. Morbi fringilla ante in mauris lobortis, id ornare ligula commodo.</div>
                    <div class="glyph-content"><i class="fa fa-pie-chart"></i></div>
                </div>
                <div class="col-sm">
                    <div class="text-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi suscipit, libero non sagittis laoreet, urna enim gravida justo, id tincidunt purus urna eu justo. Morbi fringilla ante in mauris lobortis, id ornare ligula commodo.</div>
                    <div class="glyph-content"><i class="fa fa-file-text"></i></div>
                </div>
                <div class="col-sm">
                    <div class="text-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi suscipit, libero non sagittis laoreet, urna enim gravida justo, id tincidunt purus urna eu justo. Morbi fringilla ante in mauris lobortis, id ornare ligula commodo.</div>
                    <div class="glyph-content"><i class="fa fa-address-card"></i></div>
                </div>
            </div>
        </div>
    </div>

<% include footer %>
<% include scripts %>



    