<div id="employee-record">
        <div class="container">
            <hr>
            <h2>Employee Records</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>1</th>
                        <td>Martin</td>
                        <td>McFly</td>
                        <td>mmcfly@mail.com</td>
                    </tr>
                    <tr>
                        <th>2</th>
                        <td>William</td>
                        <td>Adama</td>
                        <td>wadama@mail.com</td>
                    </tr>
                    <tr>
                        <th>3</th>
                        <td>Sarah</td>
                        <td>Conners</td>
                        <td>sconner@mail.com</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
